<!DOCTYPE html>
<html lang="PT-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Giane Baby</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link href="/stylesheets/swiper.css" rel="stylesheet">
    <link href="/stylesheets/magnific-popup.css" rel="stylesheet">
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link rel="icon" href="/images/faviconx.png">
</head>

<body data-spy="scroll" data-target=".fixed-top">
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>



<main>
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        
        <a class="navbar-brand logo-image" href="/"><img src="/images/logo_no_bg.png" alt="alternative" width="50px" height="auto"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
 

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">SOBRE NÓS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">NOSSO TRABALHO
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects">PRODUTOS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTATO</a>
                </li>
            </ul>
            <span class="nav-item social-icons">
                <span class="fa-stack">
                    <a href="https://www.facebook.com/GianeBaby" target="_blank">
                        <span class="hexagon"></span>
                        <i class="fab fa-facebook-f fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://www.instagram.com/gianebaby/" target="_blank">
                        <span class="hexagon"></span>
                        <i class="fab fa-instagram fa-stack-1x"></i>
                    </a>
                </span>
                <span class="fa-stack">
                    <a href="https://api.whatsapp.com/send?phone=5511993863000" target="_blank">
                        <span class="hexagon"></span>
                        <i class="fab fa-whatsapp fa-stack-1x"></i>
                    </a>
                </span>
            </span>
        </div>
    </nav>

    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1><img class="img-fluid" width="300px" height="auto" src="images/logo_no_bg.png" alt="alternative"><span id="js-rotating"></span></h1>
                            <p class="p-heading p-large">Peças feitas a mão para você aproveitar com seus filhos!</p>
                            <a class="btn-solid-lg page-scroll" href="#intro">SAIBA MAIS</a>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </header> 




    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">SOBRE NÓS</div>
                        <h2>Oferecemos os melhores produtos feitos à mão para seus filhos</h2>
                        <p>A Giane Baby foi criada com o intuito de criar peças handmande com amor e carinho seus filhos
                            de forma especial e única.</p>
                        <p class="testimonial-text">"Nossa missão é criar sem perder o melhor, pensar na exclusividade
                            de nossos produtos, sem perder o estilo."</p>
                        <div class="testimonial-author">Regiane Siqueira - CEO da Giane Baby</div>
                    </div> <!-- end of text-container -->
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/about.jpg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div>
            </div> 
        </div> 
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->


    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-robot fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Lúdico</h4>
                            <p>As cores de nossos produtos foram pensadas no lado criativo das crianças. Cores fortes e
                                divertidas!</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-sign-language fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Handmade</h4>
                            <p>Produtos de qualidade feitos a mão para que durem toda a infância de seus filhos.
                                Passados de geração em geração!</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-chart-pie fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Divertido</h4>
                            <p>Toda criança merece brincar! Pensando nisso que a Giane Baby fez todos os produtos
                                pensando na durabilidade dos materiais!</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div>
            </div> 
        </div> 
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">NOSSO TRABALHO</div>
                    <h2>Peças fantásticas e lindas<br> Feitas à mão, com carinho e do seu jeito</h2>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/services-1.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Tricô e Crochê</h3>
                            <p>Casacos, vestidos, meias ou tudo que você desejar!</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Cores, modelos e tamanhos à sua escolha</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Peças feitas sob medida</div>
                                </li>
                            </ul>
                            <p class="price">Do seu<span> jeito</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#contact">PEÇA O SEU!</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/services-2.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Bordados</h3>
                            <p>Bordados feitos sob encomenda, com nomes e desenhos!</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Bordados delicados</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Nomes, homenagens ou desenhos</div>
                                </li>
                            </ul>
                            <p class="price">Feito<span> para você</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#contact">PEÇA O SEU!</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/services-3.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Feltros</h3>
                            <p>Bichinhos fofos em feltro, naninhas e decoração!</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Você escolhe o personagem ou modelo</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Sua imaginação é o limite!</div>
                                </li>
                            </ul>
                            <p class="price">Com muito<span> amor</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#contact">PEÇA O SEU!</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                </div>
            </div> 
        </div> 
    </div> 
    

    
    <div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">PRODUTOS</div>
                    <h2>As peças que mais nos dão orgulho!</h2>
                </div>
            </div> 

            <div class="grid">
                <div class="element-item development">
                    <a class="popup-with-move-anim" href="#project-1">
                        <div class="element-item-overlay"><span>Peças em Feltro</span></div><img
                            src="images/project-1.jpg" alt="alternative">
                    </a>
                </div>
                <div class="element-item development">
                    <a class="popup-with-move-anim" href="#project-2">
                        <div class="element-item-overlay"><span>Fantasias e Roupas para festas</span></div><img
                            src="images/project-2.jpg" alt="alternative">
                    </a>
                </div>
                <div class="element-item design development marketing">
                    <a class="popup-with-move-anim" href="#project-3">
                        <div class="element-item-overlay"><span>Tapetes</span></div><img src="images/project-3.jpg"
                            alt="alternative">
                    </a>
                </div>
                <div class="element-item design development marketing">
                    <a class="popup-with-move-anim" href="#project-4">
                        <div class="element-item-overlay"><span>Vestidos</span></div><img src="images/project-4.jpg"
                            alt="alternative">
                    </a>
                </div>
                <div class="element-item design development marketing seo">
                    <a class="popup-with-move-anim" href="#project-5">
                        <div class="element-item-overlay"><span>Sapatinhos em Crochê</span></div><img
                            src="images/project-5.jpg" alt="alternative">
                    </a>
                </div>
                <div class="element-item design marketing seo">
                    <a class="popup-with-move-anim" href="#project-6">
                        <div class="element-item-overlay"><span>Toalhas Bordadas</span></div><img
                            src="images/project-6.jpg" alt="alternative">
                    </a>
                </div>
                <div class="element-item design marketing">
                    <a class="popup-with-move-anim" href="#project-7">
                        <div class="element-item-overlay"><span>Cachecois</span></div><img src="images/project-7.jpg"
                            alt="alternative">
                    </a>
                </div>
                <div class="element-item design marketing">
                    <a class="popup-with-move-anim" href="#project-8">
                        <div class="element-item-overlay"><span>Casacos e malhas</span></div><img
                            src="images/project-8.jpg" alt="alternative">
                    </a>
                </div>
            </div> 
            

        </div>
    </div> 
    </div> 
    </div> 
    


    

    <div id="project-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-1.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Peças em Feltro</h3>
                <hr class="line-heading">
                <h6>Lindas peças feitas com carinho!</h6>
                <p>Brindes, presentes, lembraças e tudo mais que você imaginar! Já pensou em enfeitar a festa de
                    aniversário do seu filho com aquele personagem que ele ama?</p>
                <p>Todos os tipos de personagens, animais, formatos ou tudo aquilo que sua imaginação puder criar!
                    Feitos sob medido e sob encomenda!</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Nossas peças em feltro tem acabamento com costura lateral e utilizam os
                        materiais mais delicados para deixar as peças bonitas e bem acabadas.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div>
        </div> 
    </div> 
    


    <div id="project-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-2.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Fantasias e Roupas para festas</h3>
                <hr class="line-heading">
                <h6>Artesanais com toque de crochê ou tricô</h6>
                <p>Nossas fantasias são baseadas nos personagens favoritos de seus filhos, sempre contendo peças feitas
                    à mão dando o toque especial e artesanal de nossas peças.</p>
                <p>Porém os maiores criadores de nossas fantasias são nossos criativos clientes que nos procuram com
                    idéias para criação de fantasias lindas e bem acabadas para realizarmos.</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Nossas fantasias tem acabamento crochê ou tricô, sempre utilizando os
                        materiais mais reforçados, feitos para durar!</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div>
        </div> 
    </div> 
    


    <div id="project-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-3.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Tapetes</h3>
                <hr class="line-heading">
                <h6>Para o quarto do seu bebê</h6>
                <p>Lindos tapetes artesanais feitos à mão, com qualidade, e do seu jeito para você!</p>
                <p>Com estes tapetes, a decoração do quarto do seu bebê ficará mais do que espetacular! Será perfeita!
                </p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Tapetes feitos bom barbante altamente resistente, com durabilidade e
                        segurança para você e seus filhos.</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div>
        </div> 
    </div> 
    


    <div id="project-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-4.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Vestidos</h3>
                <hr class="line-heading">
                <h6>Os vestidos mais lindos!</h6>
                <p>Dias especiais, requerem roupas especiais. Na Giane Baby, você encontra ou encomenda os vestidos mais
                    lindos para o dia especial da sua filha!</p>
                <p>Batizados, casamentos, aniversários, festas em geral ou qualquer evento que você deseje!</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Os vestidos produzidos pela Giane Baby, são feitos à mão e tem a
                        qualidade e sustentabilidade para durar para serem utilizados muitas vezes!</p>

                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div>
        </div> 
    </div> 
    

    
    <div id="project-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-5.jpg" alt="alternative">
            </div>
            <div class="col-lg-4">
                <h3>Sapatinhos em crochê</h3>
                <hr class="line-heading">
                <h6>Sapatinhos, toucas e tudo mais!</h6>
                <p>Procurando pelo presente perfeito para sua neta ou seu neto que vai nascer? Está procurando algo para
                    aquele chá de bebê?</p>
                <p>Na Giane Baby você encontra não só as peças tradicionais para dar de presente com pode fazer sob
                    encomenda as peças que você desejar, personalizada com cores, formatos e tamanhos!</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Fazemos todos os tipos de peças infantis ou para bebês sob encomenda.
                    </p>

                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div> 
        </div> 
    </div> 
   

 
    <div id="project-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-6.jpg" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Toalhas Bordadas</h3>
                <hr class="line-heading">
                <h6>Lindos bordados artesanais!</h6>
                <p>O seu bebê está chegando e tudo que você mais precisa é uma de nossas lindas toalhas bordadas a mão
                    com o nome dele para te deixar mais orgulhosa ainda desse lindo milagre!</p>
                <p>As toalhas bordadas da Giane Baby podem ter o nome, o desenho ou imagem que você imaginar!</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Nossas toalhas bordadas são do tamanho pequeno e isso reduz um pouco a
                        possibilidade de desenhos, mas se você procurar a gente, podemos dar um jeito nisso! Fale
                        conosco!</p>

                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div> 
        </div> 
    </div> 
    

   
    <div id="project-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-7.jpg" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Cachecois</h3>
                <hr class="line-heading">
                <h6>Feitos à mão! Quentes e confortáveis</h6>
                <p>Nossos cachecóis são personzalizados ao seu gosto. Personagens, tamanhos, estilos ou aquilo que a sua
                    imaginação desejar!</p>
                <p>Não apenas isso! Todas as peças de inverso ou frio que você deseja estão aqui sob medida e esperando
                    você criar junto com a gente</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Nossos cachecóis ou peças de inverno são para qualquer tamanho inclusive
                        adulto. Faça já sua cotação conosco!</p>
                    <p class="testimonial-author">General Manager</p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div> 
        </div> 
    </div> 
   

    <div id="project-8" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <img class="img-fluid" src="images/project-8.jpg" alt="alternative">
            </div> 
            <div class="col-lg-4">
                <h3>Casacos e Malhas</h3>
                <hr class="line-heading">
                <h6>Em tricô ou crochê</h6>
                <p>Nadas mais gostoso que aquela malha ou casado feito à mão no estilo mais tradicional!</p>
                <p>Quer uma para você? Que tal um casado especial para seu bebê, para sua filha ou filho?Na Giane Baby
                    fazemos todos os tipos de casasos e malhas que você desejar feitos e</p>
                <div class="testimonial-container">
                    <p class="testimonial-text">Sua imaginação é o limite! Casados e malhas a sua escolha feito à mão!
                    </p>
                </div>
                <a class="btn-outline-reg mfp-close as-button" href="#projects">VOLTAR</a>
            </div> 
        </div> 
    </div> 


    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTATO</div>
                        <h2>Entre em contato conosco!</h2>
                        <p>Venha visitar nossa loja fisica, ou preencha o formulário para entrarmos em contato com você!
                        </p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Rua Maraú 29, Box 27, São Paulo SP
                            </li>
                            <li><i class="fas fa-phone"></i><a href="tel:(11)99386-3000">+55 (11)99386-3000</a></li>
                            <li><i class="fas fa-envelope"></i><a
                                    href="mailto:office@aria.com">loja.gianebaby@gmail.com</a></li>
                        </ul>
                        <h3>Siga a Giane Baby nas Redes Sociais!</h3>

                        <span class="fa-stack">
                            <a href="https://www.facebook.com/GianeBaby" target="_blank">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com/gianebaby/" target="_blank">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://api.whatsapp.com/send?phone=5511993863000" target="_blank">
                                <span class="hexagon"></span>
                                <i class="fab fa-whatsapp fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> 
                </div> 
                <div class="col-lg-6">



                 
                    <form id="contactForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Nome</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">E-mail</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Sua mensagem</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">

                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">ENVIAR MENSAGEM</button>
                        </div>
                        <div class="form-message">
                            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                   

                </div> 
            </div> 
        </div> 
    </div> 


    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.4610021313147!2d-46.594503685541504!3d-23.623655969779627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5c9de6f843b3%3A0x2ef36cf4455f4b33!2zUi4gTWFyYcO6LCAyOSAtIFPDo28gSm_Do28gQ2xpbWFjbywgU8OjbyBQYXVsbyAtIFNQLCAwNDI1NS0wOTA!5e0!3m2!1spt-BR!2sbr!4v1592842912336!5m2!1spt-BR!2sbr"
            frameborder="0" allowfullscreen></iframe>
    </div>

</main>
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Um pouco sobre a GianeBaby</h4>
                        <p class="white">Nossa paixão por tricô e crochê nos fez desejar entregar o melhor e mais bonito
                            com o máximo de carinho e estilo.</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Links</h4>
                        <ul class="list-unstyled li-space-lg white">
                            <li>
                                <a class="white" href="#your-link">https://www.elo7.com.br/GianeBaby</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/jquery.easing.min.js"></script>
    <script src="/javascripts/swiper.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <script src="/javascripts/morphext.min.js"></script>
    <script src="/javascripts/isotope.pkgd.min.js"></script>
    <script src="/javascripts/validator.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
</body>

</html>