* {
    background-color: #FCF5E2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Sriracha', cursive;
}

.carrousel


.bg-light {
    background-color: #FCF5E2 !important;
}

body {
    background-color: #FCF5E2;
}

.btn-primary {
    display: block;
    background-color: #795571;
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 20px;
    line-height: 0px;
    font-size: 10px;

}

.carousel-item {
    max-height: 33vh;
    overflow-y: hidden;
}

li[data-target="#carouselExampleCaptions"] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:white;
}

li[data-target="#carouselExampleCaptions"]:not(.active) {
    background-color: #795571;
}

h2.subtitulo {
    flex: 1 0 100%;
    text-align: center;
}

.carousel-control-prev-icon {
    background-image: url("img/bg1.jpg") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f15722' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}