* {
    background-color: #FCF5E2;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Righteous', sans-serif;
}

.navbar {
    background-color: #795571;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-nav, .nav-link {
    color: black;
    padding-right: 0;
    padding-left: 0;
    background-color: #795571;
}

navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.562);
}
navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    
}

.navbar img {
    background-image: url("/img/logo_no_bg.png");
    background-color: transparent;
}



div.container {
    background-color:#795571 ;
}

h5 {
    background-color: transparent;
    font-size: 1.75rem;
    font-weight: 400;
}

#logomain {
    position: relative;
	left: 90px; /* posiciona a 90px para a esquerda */ 
    bottom: 0px; /* posiciona a 70px para baixo */
    top: 30px;
}


p,
ol {

    background-color: transparent;
}

.bg-light {
    background-color: #FCF5E2 !important;
    width: fit-content;
    height: auto;
}

body {
    background-color: #FCF5E2;
}

.btn-primary {
    display: block;
    background-color: #795571;
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 20px;
    line-height: 10px;
    font-size: 10px;
}

.carousel-item {
    margin-top: 60px;
    
}

.carousel-inner {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.carousel-caption {
    background-color: transparent;
    position: absolute;
    right: 15%;
    bottom: 150px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
    text-align: center;
}


li[data-target="#carouselExampleCaptions"] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

li[data-target="#carouselExampleCaptions"]:not(.active) {
    background-color: #795571;
}

h2.subtitulo {
    flex: 1 0 100%;
    text-align: center;
}

h3 {
    background-color: transparent;
    margin-bottom: auto;
}

.card-img-overlay {
    background: transparent;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}
.card-body {
    background-color: #fff;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.ml-3, .mx-3 {
        margin-left: 0rem!important;
        margin-right: 0rem!important;
}

.carousel-control-prev-icon {
    background-image: url(/img/arrow-circle-left-solid.png);
}

.carousel-control-next-icon {
    background-image: url(/img/arrow-circle-right-solid.png);
}

footer {
    background-color: transparent;
}